
DownloadManager/.vs/DownloadManager/v16/.suo
DownloadManager/.vs/DownloadManager/v16/Browse.VC.db
DownloadManager/.vs/DownloadManager/v16/Browse.VC.db-shm
DownloadManager/.vs/DownloadManager/v16/Browse.VC.db-wal
DownloadManager/.vs/DownloadManager/v16/Browse.VC.opendb
