
DownloadManager/.vs/DownloadManager/v16/.suo
DownloadManager/.vs/DownloadManager/v16/Browse.VC.db
DownloadManager/.vs/DownloadManager/v16/Browse.VC.db-shm
DownloadManager/.vs/DownloadManager/v16/Browse.VC.db-wal
DownloadManager/.vs/DownloadManager/v16/Browse.VC.opendb
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/358d22b1262f95c5/IOCONTOLER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/37694118ed703165/DOWNLOADER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/416e45a955a262d/SOCKET.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/c731abda0aeaf3a2/MAIN.ipch
DownloadManager/Debug/downloader.obj
DownloadManager/Debug/DownloadManager.Build.CppClean.log
DownloadManager/Debug/DownloadManager.exe
DownloadManager/Debug/DownloadManager.exe.recipe
DownloadManager/Debug/DownloadManager.ilk
DownloadManager/Debug/DownloadManager.log
DownloadManager/Debug/DownloadManager.pdb
DownloadManager/Debug/DownloadManager.tlog/CL.command.1.tlog
DownloadManager/Debug/DownloadManager.tlog/CL.read.1.tlog
DownloadManager/Debug/DownloadManager.tlog/CL.write.1.tlog
DownloadManager/Debug/DownloadManager.tlog/DownloadManager.lastbuildstate
DownloadManager/Debug/DownloadManager.tlog/link.command.1.tlog
DownloadManager/Debug/DownloadManager.tlog/link.read.1.tlog
DownloadManager/Debug/DownloadManager.tlog/link.write.1.tlog
DownloadManager/Debug/DownloadManager.vcxproj.FileListAbsolute.txt
DownloadManager/Debug/iocontoler.obj
DownloadManager/Debug/main.obj
DownloadManager/Debug/saver.obj
DownloadManager/Debug/socket.obj
DownloadManager/Debug/vc142.idb
DownloadManager/Debug/vc142.pdb
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/33fbaa59b772a0b6/DELETE_SCALAR_SIZE.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/57db9d1877da7fd3/SAVER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/714ef5fffe2e1ae0/MAIN.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/7a1fff5a1d6b0353/IOCONTOLER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/bd0a7c75fd53a3cb/DOWNLOADER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/d0a975a9da8c1b53/SOCKET.ipch
DownloadManager/airplane.png
DownloadManager/Debug/downloader.obj.enc
DownloadManager/DownloadManager.vcxproj
DownloadManager/Release/downloader.obj
DownloadManager/Release/DownloadManager.exe
DownloadManager/Release/DownloadManager.exe.recipe
DownloadManager/Release/DownloadManager.iobj
DownloadManager/Release/DownloadManager.ipdb
DownloadManager/Release/DownloadManager.log
DownloadManager/Release/DownloadManager.pdb
DownloadManager/Release/DownloadManager.tlog/CL.command.1.tlog
DownloadManager/Release/DownloadManager.tlog/CL.read.1.tlog
DownloadManager/Release/DownloadManager.tlog/CL.write.1.tlog
DownloadManager/Release/DownloadManager.tlog/DownloadManager.lastbuildstate
DownloadManager/Release/DownloadManager.tlog/DownloadManager.write.1u.tlog
DownloadManager/Release/DownloadManager.tlog/link.command.1.tlog
DownloadManager/Release/DownloadManager.tlog/link.read.1.tlog
DownloadManager/Release/DownloadManager.tlog/link.write.1.tlog
DownloadManager/Release/DownloadManager.vcxproj.FileListAbsolute.txt
DownloadManager/Release/iocontoler.obj
DownloadManager/Release/main.obj
DownloadManager/Release/saver.obj
DownloadManager/Release/socket.obj
DownloadManager/Release/vc142.pdb
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/2ef7256de78e6e9c/DOWNLOADERCURL.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/884b8f8cf7b64800/DOWNLOADERCURL.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/b51cd5b8032f036a/DOWNLOADER.ipch
DownloadManager/Debug/DownloaderCURL.obj
DownloadManager/Source.cpp
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/1767904db31ecce/IO.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/1ad875d32ac147cc/CURLGUARD.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/220018db33187cd0/CURLDOWNLOADER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/38f54217bbea7ba8/SOCKET.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/39f76cbec0b79cdc/SFMLDOWNLOADER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/40526d61ed830ae1/KERNEL.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/7fca530eb7aea34f/CURLGUARD.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/835f5307c14c494/DOWNLOADER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/cc1905a7148b8919/DOWNLOADERCURL.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/e42e75bf49ecf27c/KERNEL.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/e6f731df1e16a955/SFMLDOWNLOADER.ipch
DownloadManager/.vs/DownloadManager/v16/ipch/AutoPCH/ebdce5360ac29742/SAVER.ipch
DownloadManager/cpp.png
DownloadManager/Debug/curlDownloader.obj
DownloadManager/Debug/io.obj
DownloadManager/Debug/Kernel.obj
DownloadManager/Debug/sfmlDownloader.obj
